<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Alex Aumais</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta name="description" content="{{ page.title }} - Alex Aumais' portfolio website.">
    <link rel="icon" type="image/x-icon" href="/assets/img/aa_icon.png">
  </head>
  <body>
    <header>
        <h1 class="title-name">
          <a href="{{ page.backlink }}" class="hidden-link">
            {{ page.title }}
          </a>
        </h1>        
        {% include navigation.html %}
    </header>
    <main>
        <div class="container">
            {{ content }}
        </div>
    </main>
  </body>
</html>
